.profile-image {
    background-image: url(../assets/profile-picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: calc(100vh - 80px);
    z-index: 111;
    border-radius: 30px;
    left: 40px;
    top: 40px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .9);
}

.text-content {
    max-width: 570px;
    margin: 0 auto;
    text-align: left;
}

@media (min-width: 1600px) {
    .text-content {
        max-width: 600px;
    }
}